@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.hankenGrotesk {
    font-family: "Hanken Grotesk";
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.PigWithTea {
    grid-column: 2/2;
    width: 172.73855590820312px;
    height: 179.31373596191406px;
    top: 592px;
    left: 13px;
    position: relative;
}

.generalRules {
    width: 645px;
    height: 3168px;
    gap: 32px;
}

@layer components {
    div {
        @apply flex flex-col h-max;
    }

    div>ul {
        @apply flex flex-col gap-6;
    }

    li>ul {
        @apply flex flex-col list-disc;
    }

    ol {
        @apply list-decimal flex flex-col gap-6 ml-5 h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    ul>li {
        @apply flex flex-col gap-2 h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    h4 {
        @apply h-5 font-semibold text-[16px] tracking-normal leading-5 text-black;
    }

    p {
        @apply h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    h2 {
        @apply w-161.25 h-8.5 text-[28px] font-semibold leading-[120%] tracking-normal uppercase text-black;
    }

    h3 {
        @apply w-161.25 h-7.25 font-semibold text-2xl leading-[120%] tracking-normal uppercase text-black;
    }
}