@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

html,
body {
    height: 100%;
}

main {
    display: flex;
    flex: 1 1 auto;
}

.sourseSerif4 {
    font-family: "Source Serif 4", sans-serif;
}

.hankenGrotesk {
    font-family: "Hanken Grotesk", sans-serif;
}

.bgcPink {
    background-color: #FFF2FE;
}

.bgcDarkPink {
    background-color: #FFBFFB;
}

.cDarkPink {
    color: #D874B9;
}

.cPink {
    color: #FFBFFB;
}

@layer components {
    #game-rule-section div {
        @apply flex flex-col h-max;
    }

    #game-rule-section div>ul {
        @apply flex flex-col gap-6;
    }

    #game-rule-section ol {
        @apply list-decimal flex flex-col gap-6 ml-5 h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    #game-rule-section li>ul>li {
        @apply list-item list-disc ml-5;
    }

    #game-rule-section li>ul {
        @apply flex gap-2 flex-col;
    }

    #game-rule-section ul>li {
        @apply flex flex-col gap-2 h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    #game-rule-section h4 {
        @apply h-5 font-semibold text-[16px] tracking-normal leading-5 text-black;
    }

    #game-rule-section p {
        @apply h-max text-[16px] tracking-normal leading-5 text-black font-extralight;
    }

    #game-rule-section h2 {
        @apply w-161.25 h-8.5 text-[28px] font-semibold leading-[120%] tracking-normal uppercase text-black;
    }

    #game-rule-section h3 {
        @apply w-161.25 h-7.25 font-semibold text-2xl leading-[120%] tracking-normal uppercase text-black;
    }
}