@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

main {
    width: 1440px;
    height: 674px;
    padding-top: 16px;
    padding-right: 175px;
    padding-bottom: 24px;
    padding-left: 175px;
    gap: 24px;
    margin-right: 3.5%;
    letter-spacing: 0%;
}

.scoreBoard {
    width: 533px;
    height: 634px;
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
}

.scoreBoardList {
    width: 533px;
    height: 564px;
    gap: 12px;
    overflow: scroll;
}

.titleScoreboard {
    width: 533px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding-left: 5%;
}

.titleScoreboard>p {
    width: 391px;
    height: 38px;
    font-family: "Source Serif 4";
    font-weight: 600;
    font-size: 34px;
    line-height: 38px;
    text-transform: uppercase;
    margin-right: 13%;
}

.quantityPretendents {
    display: flex;
    width: 142px;
    height: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 4px;
    border-radius: 25px;
    background-color: #FFF2FE;
    flex-shrink: 0;
}

.quantityPretendents>p {
    display: flex;
    width: 110px;
    height: 20px;
    font-family: "Hanken Grotesk";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.info {
    flex-shrink: 0;
    width: 533px;
    height: 634px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.bank {
    width: 533px;
    height: 206px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF2FE;
}

/* text elements in bank */

.Text1110 {
    width: 231px;
    height: 120px;
    font-family: "Source Serif 4";
    font-weight: 500;
    font-style: italic;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: #FFBFFB;
}

.TextTonOnBank {
    width: 180px;
    height: 38px;
    font-family: "Hanken Grotesk";
    font-weight: 200;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: center;
    color: #000000;
}

/*--------------------------*/

.Piggies1000Container {
    display: flex;
    flex-direction: column;
    width: 533px;
    height: 190px;
    gap: 32px;
    border-radius: 25px;
    padding: 24px;
    background-color: #FFF2FE;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Text elements in Piggies1000Container*/

.Piggies1000TextContainer {
    width: 485px;
    height: 60px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.Piggies1000TextContainer>p:first-child {
    width: 485px;
    height: 28px;
    font-family: "Source Serif 4";
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #D874B9;

}

.Piggies1000TextContainer>p:last-child {
    width: 485px;
    height: 20px;
    font-family: "Hanken Grotesk";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

/*--------------------------*/

.SubscribeButton {
    display: flex;
    width: 180px;
    height: 50px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 4px;
    border-radius: 40px;
    background-color: #FFBFFB;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: #000000;
    justify-content: center;
    flex-shrink: 0;
}

.pigWithTgLogo {
    position: relative;
    width: 168px;
    height: 168px;
    top: 29%;
    right: 47%;
}

.bottomInfoContainer {
    display: flex;
    width: 533px;
    height: 202px;
    padding-right: 24px;
    gap: 24px;
    border-radius: 25px;
    background-color: #FFBFFB33;
}

.fullPigSvg {
    margin-top: 22px;
    width: 172.73855590820312px;
    height: 179.31373596191406px;
}

.bottomInfoContainerText {
    display: flex;
    flex-direction: column;
    width: 312.2614440917969px;
    height: 202px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 48px;
    align-items: center;
}

.bottomInfoContainerText>p {
    width: 258px;
    height: 48px;
    font-family: "Source Serif 4";
    font-weight: 500;
    font-style: italic;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #D874B9;
}

.bottomInfoContainerText>button {
    width: 213px;
    height: 58px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    gap: 4px;
    border-radius: 40px;
    background-color: #FFBFFB;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: #0D0D0D;
}